body{
  background:#c2daff;

}

h1{
  font-family: "Roboto", "Lato", "Lucida     Grande", "Lucida Sans Unicode"; 
  text-align:center; 
  color: #0044a8; 
  font-size: 70px;
}
h2{
  display: inline;
  padding-left: 135px;
}
.hi {
  display: inline;
  padding-left: 250px;
}
.hiq {
  display: inline;
  padding-left: 3600px;
  }
.hihi {
  display: inline;
  padding-left: 0px;
}

.hola {
  display: inline;
  padding-left: 130px;
}
.bonjour {
  display: inline;
  padding-left: 2690;
}

#navigationBar {
  padding: 1%;
  background:#fff;
  height: auto;
  text-align:center;
  width:98%;
}
.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

// You can then specify a location within your ID by going down levels in your code by using > . In this case, this will run when the code finds navigationBar ID, then looks inside for ul tags, and inside those, li tags, and inside those a tags. 
#navigationBar > ul > li > a {
  text-align: left; 
  color: #0044a8;
}

#navigationBar > ul > li{
   margin: 6px; 
   padding: 6px; 
   border-radius: 5px;
   display: inline;
   border: 2px solid #0044a8;
   background: #4d95ff;
}
#navigationBar > ul > li:hover {
  transition: background 0.3s ease-in;
  background: #82b5ff; 
}

canvas {
  display: inline;
}

p {
    text-align:center; 
}
